/*.grid-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    /*grid-template-areas: "title"
                         "mi"
                         "skill"
                         "hobbies"
                         "forma"
                         "exp"
                         "footer";
}
  */


  .item-1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 20px;
    align-items: center;
    grid-area: title;
    padding: 0 150px;
}
.item-2 {
    display: grid;
    grid-template-columns: 30% 1fr;
    background: #2a6998;
    grid-area: mi;
    padding: 30px 150px;
    color: white;
    font-size: 20px;
}

.item-3-1-2, .item-3-2-2{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /*grid-template-rows: repeat(2, 1fr);*/
    grid-column-gap: 8px;
    grid-row-gap: 20px;
    grid-area: forma;
}
.item-4 {
    background: #6a478f;
    color: #fff;
    grid-area: footer;
}
.item-4-1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*grid-template-rows: repeat(2, 1fr);*/
    grid-column-gap: 8px;
    grid-row-gap: 20px;
    grid-area: forma;
}
.item-5-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 60px;
    grid-area: exp;
    justify-items: center;
}

.item-6{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 45px 0 45px 0;
    background-color: #2a6998;
    padding: 45px;
    text-align: center;
}
.item-6-1 h2, .item-6-1 h3{
    color:#fff;
}
.item-6 .form {
    margin-top: 50px;
    display: grid;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.item-6-input{
    height: 50px;
    width: 50vw;
    border: solid 2px #fff;
    border-radius: 5px;
    padding: 0 15px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #3d3d3d;
}
.item-6-textarea{
    width: 50vw;
    border: solid 1.5px #2a6998;
    border-radius: 5px;
    padding: 0 15px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #3d3d3d;
}
.item-6-submit{
    width: 25vw;
    height: 50px;
    background-color: #ffffff00;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    border: solid 2px #fff;
    border-radius: 9px;
}
.item-6-submit:hover {
    width: 25vw;
    height: 50px;
    background-color: #fff;
    color: #2a6998;
    font-size: 17px;
    font-weight: 600;
    border: solid 2px #fff;
    border-radius: 9px;
    cursor: pointer;
}


.item-7 {
    background: #e03f3f;
    grid-area: sidebar;
}
@media only screen and (max-width: 768px) {
    
    

    .item-4-1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 20px;
        grid-area: forma;
    }

    .item-5-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 20px;
        grid-area: exp;
        justify-items: center;

    }


}
