/*.grid-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    /*grid-template-areas: "title"
                         "mi"
                         "skill"
                         "hobbies"
                         "forma"
                         "exp"
                         "footer";
}
  */


  .item-1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 20px;
    align-items: center;
    grid-area: title;
    padding: 0 150px;
}
.item-2 {
    display: grid;
    grid-template-columns: 30% 1fr;
    background: #2a6998;
    grid-area: mi;
    padding: 30px 150px;
    color: white;
    font-size: 20px;
}

.item-3-1-2, .item-3-2-2{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /*grid-template-rows: repeat(2, 1fr);*/
    grid-column-gap: 8px;
    grid-row-gap: 20px;
    grid-area: forma;
}
.item-4 {
    background: #6a478f;
    color: #fff;
    grid-area: footer;
}
.item-4-1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*grid-template-rows: repeat(2, 1fr);*/
    grid-column-gap: 8px;
    grid-row-gap: 20px;
    grid-area: forma;
}
.item-5-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 60px;
    grid-area: exp;
    justify-items: center;
}

.item-6{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 45px 0 45px 0;
    background-color: #2a6998;
    padding: 45px;
    text-align: center;
}
.item-6-1 h2, h3{
    color:#fff;
}
.item-6 .form {
    margin-top: 50px;
    display: grid;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.item-6-input{
    height: 50px;
    width: 50vw;
    border: solid 2px #fff;
    border-radius: 5px;
    padding: 0 15px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #3d3d3d;
}
.item-6-textarea{
    width: 50vw;
    border: solid 1.5px #2a6998;
    border-radius: 5px;
    padding: 0 15px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #3d3d3d;
}
.item-6-submit{
    width: 25vw;
    height: 50px;
    background-color: #ffffff00;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    border: solid 2px #fff;
    border-radius: 9px;
}
.item-6-submit:hover {
    width: 25vw;
    height: 50px;
    background-color: #fff;
    color: #2a6998;
    font-size: 17px;
    font-weight: 600;
    border: solid 2px #fff;
    border-radius: 9px;
    cursor: pointer;
}


.item-7 {
    background: #e03f3f;
    grid-area: sidebar;
}




@media (max-width: 768px){    
    body{
        overflow-x: hidden;
    }
    .navbar{
        border: none;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .logo{
        margin: 0;
        width: 100%;
        font-size: 25px;
        word-break: break-word;
    }
    .menu-list {
        align-items: flex-end;
        width: 45%;
        display: flex;
    flex-direction: column;
    margin-top: 0;
    text-align: center;
    padding: 0;
    }

    .item-1 {
        display: flex;
        padding: 0 0;
        flex-direction: column;
    }

    .item-1-1 h3 {
        font-size: 1em;
        font-family: system-ui;
        padding: 0 45px;
        color: #000;
    }
    .item-1-1 .link-menu {
        list-style: none;
        display: flex;
        padding: 0 47px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .item-2 {
        display: flex;
        background: #2a6998;
        color: white;
        font-size: 20px;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .item-3-1-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
    }
    .item-3-2-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
    }

    .item-4-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
    }

    .item-5-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;

    }

    .menu .container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .menu-list {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        text-align: center;
    }
    .menu__list__item {
        padding: 10px;
    }
    .texto {
        text-align: center;
    }
    .perfil {
        display: flex;
        width: 100%;
    }
    .item-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .experiencia-informacion {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
        text-align: center;
    }
    .experiencia-descripcion {
        margin-top: 0px;
    }
    .experiencia-descripcion {
        margin-top: 0px;
    }
    .img-experiencia {
        width: 80%;
    }
    a button {
        align-items: center;
        border: none;
        cursor: pointer;
        font-style: italic;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: white;
        margin-top: 10px;
    }
    .item-1-1 h1 {
        font-size: 2em;
        font-family: system-ui;
        padding: 0px 45px;
    }
    .experiencia-card-content img{

        width: 200px!important;
        height: 100px!important;
    }


}
